<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <% let msgEmail = validate.find(e => e.path === 'email') %>
   <% let msgPwd = validate.find(e => e.path === 'password') %>
    <main>
        <% if (errorMsg) { %>
        <div class="error-message error-message--error"><%= errorMsg %></div>
        <% } %>
        <form class="login-form" action="login" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input class="<%= msgEmail ? 'invalid' : '' %>" type="email" name="email" id="email">
                <p class="<%= msgEmail ? 'text-error' : '' %>"><%= msgEmail?.msg %></p>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input class="<%= msgPwd ? 'invalid' : '' %>" type="password" name="password" id="password" />
                <p class="<%= msgPwd ? 'text-error' : '' %>"><%= msgPwd?.msg %></p>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit">Login</button>
        </form>
        <div class="text-center"><a href="/reset-password">Reset Password</a></div>
    </main>
<%- include('../includes/end.ejs') %>
