<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(orders.length > 0) { %>
            <ul>
                <% orders.forEach((order, index) => { %>
                <li>
                    <h1># <%= index + 1 %></h1>
                    <ul>
                        <% order.products.forEach((product, index) => { %>
                        <li>
                            <h1>Tile: <%= product.title %></h1>
                            <h2>Quantity: <%= product.orderItem.quantity %></h2>
                        </li>
                        <% }) %>
                    </ul>
                </li>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>Nothing there!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>